@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, no-serif; 
}

html {
  display: flex;
  flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}

body {
  	width: 980px;
	margin: auto;
	display: flex; /* crée un contexte flex pour ses enfants */
	flex-direction: column; /* affichage vertical */
	min-height: 100vh; /* toute la hauteur du viewport */
}

aside {
	width: 180px;
}

main {
	flex: 1;
}

header {
	flex: 1;
	background: #ddd;
	height: 30px;
}

nav {
	display: flex;
	flex-flow: row;
}

nav div {
	flex: 1 1 auto;
	text-align: center;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}

.wrapper > nav {
	width: 200px;
	background: #ddd;
	padding: 10px;
}

.wrapper > div.content {
	flex: 1;
	padding: 10px;
}

footer {
	height: 30px;
	background: #444;
	padding: 10px;
}

@media screen and (max-width: 640px) {
	header > nav {
		display: block;
	}
	.wrapper > nav {
		display: none;
	}
}